<nav class="navbar navbar-expand-md bg-secondary d-flex p-5">
    <a href="" id="nav-logo" class="navbar-brand"><img src="/images/logo.png" id="logo"></a>
    <ul class="navbar-nav text-center">
        <li class="nav-item text-center">
            <img src="/images/home.png" class="nav-img"> 
            <br><br>
            <a href="dashboard" class="btn btn-secondary">Home</a>
        </li>

        <li class="nav-item">
            <img src="/images/inventory.png" class="nav-img"> 
                <br><br>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="inventory-btn" data-toggle="dropdown">
                        Inventory
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelled-by="inventory-btn">
                        <li><a href="inventory-view" class="dropdown-item">View Inventory</a></li>
                        <li><a href="inventory-pricelist" class="dropdown-item">Pricelist</a></li>
                    </ul>
                </div>
        </li>

        <li class="nav-item">
            <img src="/images/sales.png" class="nav-img"> 
                <br><br>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="sales-btn" data-toggle="dropdown">
                        Sales
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelled-by="sales-btn">
                        <li><a href="sales-customer-po-form" class="dropdown-item">Customer PO</a></li>
                        <li><a href="sales-customer-order-list" class="dropdown-item">Customer PO List</a></li>
                    </ul>
                </div>
        </li>

        <li class="nav-item">
            <img src="/images/reorder.png" class="nav-img"> 
                <br><br>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="reorder-btn" data-toggle="dropdown">
                        Reorder
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelled-by="reorder-btn">
                        <li><a href="reorder-supplier-po-form" class="dropdown-item">Supplier PO</a></li>
                        <li><a href="reorder-supplier-order-list" class="dropdown-item">Supplier PO List</a></li>
                    </ul>
                </div>
        </li>

        <li class="nav-item">
            <img src="/images/report.png" class="nav-img"> 
                <br><br>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="report-btn" data-toggle="dropdown">
                        Report
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelled-by="report-btn">
                        <li><a href="reports-total-sales-and-expenses" class="dropdown-item">Total Sales & Expenses</a></li>
                        <li><a href="reports-shrinkages" class="dropdown-item">Shrinkages</a></li>
                    </ul>
                </div>
        </li>
    </ul>

    <div id="nav-div" class="navbar-brand d-flex flex-row">
        <div >
            <a href="" class="navbar-brand"><img src="/images/notification.png" id="notification"></a>
        </div>
        

        <div class="dropdown">
            <a href="#" class="navbar-brand" id="profile-btn" data-toggle="dropdown">
              <img src="/images/profile.png" id="profile">
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelled-by="profile-btn">
                <li><a href="register" class="dropdown-item">Create an Account</a></li>
                <li><a href="" class="dropdown-item">Settings</a></li>
                <li><a href="logout" class="dropdown-item">Logout</a></li>
            </ul>
          </div>
    </div>
</nav>