table.dataTable>thead .sorting:after, 
table.dataTable>thead .sorting_asc:after, 
table.dataTable>thead .sorting_desc:after, 
table.dataTable>thead .sorting_asc_disabled:after, 
table.dataTable>thead .sorting_desc_disabled:after {
    content: none !important;
}

table.dataTable>thead .sorting:before, 
table.dataTable>thead .sorting_asc:before, 
table.dataTable>thead .sorting_desc:before, 
table.dataTable>thead .sorting_asc_disabled:before, 
table.dataTable>thead .sorting_desc_disabled:before {
    content: none !important;
}

table.dataTable tr.selected td.select-checkbox:after, 
table.dataTable tr.selected th.select-checkbox:after {
    content: ' ' !important;
    margin-top: -6px !important;
    margin-left: -6px !important;
    border: 6px solid black !important;
    border-radius: 3px !important;
}

table.dataTable tr th.select-checkbox.selected::after {
    content: ' ' !important;
    margin-top: -6px !important;
    margin-left: -6px !important;
    border: 6px solid black !important;
    border-radius: 3px !important;
}

.bg-secondary {
    background-color: #b1b3b4!important;
}

#supplier_add_po_table > tbody > tr > td > input {
    line-height: normal !important;
}

#supplier_add_po_table > tbody > tr > td {
    padding: 0.30rem !important;
    vertical-align: middle;
}

#supplier_add_supplier_table > tbody > tr > td {
    padding: 0.30rem !important;
    vertical-align: middle;
}

#supplier_add_supplier_table > tbody > tr > td > input {
    line-height: 2 !important;
    padding-left: 15px;
    padding-right: 15px;
}

.input-border-error {
    border-color: red !important;
}