<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/style/dashboard.css">
    <title>Dashboard</title>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark d-flex">
        <a href="" id="nav-logo" class="navbar-brand"><img src="../public/images/logo.png" id="logo"></a>
        <ul class="navbar-nav text-center">
            <li class="nav-item">
                <a href="" class="nav-link"> <img src="../public/images/home.png" class="nav-img"> 
                    <br><br>
                    Home
                </a>
            </li>

            <li class="nav-item">
                <a href="" class="nav-link"> <img src="../public/images/inventory.png" class="nav-img"> 
                    <br><br>
                    Inventory
                </a>
            </li>

            <li class="nav-item">
                <a href="" class="nav-link"> <img src="../public/images/sales.png" class="nav-img"> 
                    <br><br>
                    Sales
                </a>
            </li>

            <li class="nav-item">
                <a href="" class="nav-link"> <img src="../public/images/reorder.png" class="nav-img"> 
                    <br><br>
                    Reorder
                </a>
            </li>

            <li class="nav-item">
                <a href="" class="nav-link"> <img src="../public/images/report.png" class="nav-img"> 
                    <br><br>
                    Report
                </a>
            </li>
        </ul>

        <div id="nav-div" class="navbar-brand">
            <a href="" class="navbar-brand"><img src="../public/images/notification.png" id="notification"></a>

            <a href="" class="navbar-brand"><img src="../public/images/profile.png" id="profile"></a>
        </div>
    </nav>
    
</body>
</html>