<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/dashboard.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Dashboard</title>
</head>
<body>

    <nav class="navbar navbar-expand-md bg-secondary d-flex p-5">
        <a href="" id="nav-logo" class="navbar-brand"><img src="../public/images/logo.png" id="logo"></a>
        <ul class="navbar-nav text-center">
            <li class="nav-item text-center">
                <img src="../public/images/home.png" class="nav-img"> 
                <br><br>
                <a href="dashboard.html" class="btn btn-secondary">Home</a>
            </li>

            <li class="nav-item">
                <img src="../public/images/inventory.png" class="nav-img"> 
                    <br><br>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="inventory-btn" data-toggle="dropdown">
                            Inventory
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelled-by="inventory-btn">
                            <li><a href="inventory-view.html" class="dropdown-item">View Inventory</a></li>
                            <li><a href="inventory-pricelist.html" class="dropdown-item">Pricelist</a></li>
                        </ul>
                    </div>
            </li>

            <li class="nav-item">
                <img src="../public/images/sales.png" class="nav-img"> 
                    <br><br>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="sales-btn" data-toggle="dropdown">
                            Sales
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelled-by="sales-btn">
                            <li><a href="customer-po-form.html" class="dropdown-item">Customer PO</a></li>
                            <li><a href="customer-order-list.html" class="dropdown-item">Customer PO List</a></li>
                            <li><a href="" class="dropdown-item">Customer PO Tracker</a></li>
                        </ul>
                    </div>
            </li>

            <li class="nav-item">
                <img src="../public/images/reorder.png" class="nav-img"> 
                    <br><br>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="reorder-btn" data-toggle="dropdown">
                            Reorder
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelled-by="reorder-btn">
                            <li><a href="reorder-supplier-po-form.html" class="dropdown-item">Supplier PO</a></li>
                            <li><a href="reorder-supplier-order-list.html" class="dropdown-item">Supplier PO List</a></li>
                            <li><a href="" class="dropdown-item">Supplier PO Tracker</a></li>
                        </ul>
                    </div>
            </li>

            <li class="nav-item">
                <img src="../public/images/report.png" class="nav-img"> 
                    <br><br>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="report-btn" data-toggle="dropdown">
                            Report
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelled-by="report-btn">
                            <li><a href="reports-total-sales-and-expenses.html" class="dropdown-item">Total Sales & Expenses</a></li>
                            <li><a href="reports-shrinkages.html" class="dropdown-item">Shrinkages</a></li>
                        </ul>
                    </div>
            </li>
        </ul>

        <div id="nav-div" class="navbar-brand d-flex flex-row">
            <div >
                <a href="" class="navbar-brand"><img src="../public/images/notification.png" id="notification"></a>
            </div>
            

            <div class="dropdown">
                <a href="#" class="navbar-brand" id="profile-btn" data-toggle="dropdown">
                  <img src="../public/images/profile.png" id="profile">
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelled-by="profile-btn">
                    <li><a href="" class="dropdown-item">Create an Account</a></li>
                    <li><a href="" class="dropdown-item">Settings</a></li>
                </ul>
              </div>
        </div>
    </nav>
    
    

</body>
</html>