<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../public/style/dashboard.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.1/css/select.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.min.js"></script>

    <title>View Inventory</title>
</head>
<body>

    <!-- dashboard -->

    <nav class="navbar navbar-expand-md bg-secondary d-flex p-5">
        <a href="" id="nav-logo" class="navbar-brand"><img src="../public/images/logo.png" id="logo"></a>
        <ul class="navbar-nav text-center">
            <li class="nav-item text-center">
                <img src="../public/images/home.png" class="nav-img"> 
                <br><br>
                <a href="dashboard.html" class="btn btn-secondary">Home</a>
            </li>

            <li class="nav-item">
                <img src="../public/images/inventory.png" class="nav-img"> 
                    <br><br>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="inventory-btn" data-toggle="dropdown">
                            Inventory
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelled-by="inventory-btn">
                            <li><a href="inventory-view.html" class="dropdown-item">View Inventory</a></li>
                            <li><a href="" class="dropdown-item">Pricelist</a></li>
                        </ul>
                    </div>
            </li>

            <li class="nav-item">
                <img src="../public/images/sales.png" class="nav-img"> 
                    <br><br>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="sales-btn" data-toggle="dropdown">
                            Sales
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelled-by="sales-btn">
                            <li><a href="" class="dropdown-item">Customer PO</a></li>
                            <li><a href="" class="dropdown-item">Customer PO List</a></li>
                            <li><a href="" class="dropdown-item">Customer PO Tracker</a></li>
                        </ul>
                    </div>
            </li>

            <li class="nav-item">
                <img src="../public/images/reorder.png" class="nav-img"> 
                    <br><br>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="reorder-btn" data-toggle="dropdown">
                            Reorder
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelled-by="reorder-btn">
                            <li><a href="" class="dropdown-item">Supplier PO</a></li>
                            <li><a href="" class="dropdown-item">Supplier PO List</a></li>
                            <li><a href="" class="dropdown-item">Supplier PO Tracker</a></li>
                        </ul>
                    </div>
            </li>

            <li class="nav-item">
                <img src="../public/images/report.png" class="nav-img"> 
                    <br><br>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="report-btn" data-toggle="dropdown">
                            Report
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelled-by="report-btn">
                            <li><a href="" class="dropdown-item">Total Sales & Expenses</a></li>
                            <li><a href="" class="dropdown-item">Shrinkages</a></li>
                        </ul>
                    </div>
            </li>
        </ul>

        <div id="nav-div" class="navbar-brand d-flex flex-row">
            <div >
                <a href="" class="navbar-brand"><img src="../public/images/notification.png" id="notification"></a>
            </div>
            

            <div class="dropdown">
                <a href="#" class="navbar-brand" id="profile-btn" data-toggle="dropdown">
                  <img src="../public/images/profile.png" id="profile">
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelled-by="profile-btn">
                    <li><a href="" class="dropdown-item">Create an Account</a></li>
                    <li><a href="" class="dropdown-item">Settings</a></li>
                </ul>
              </div>
        </div>
    </nav>
    
    <div class="container mb-3 mt-3">
        
        <div class="row mb-2">
            <div class="col-8 h3">
                    Inventory: View Inventory
            </div>
        </div>
        
        <header class="text-center h3 bg-secondary">
            <br>
            Inventory
            <br>
            As of today: xx, xxxx, xxxx
            <br>
            <br>
        </header>
    
        
    <!-- data table -->

        <table class="table table-bordered text-center" id="myTable">

            <thead>
                <th></th>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Brand</th>
                <th scope="col">SRP</th>
                <th scope="col">QTY On Hand</th>
                <th scope="col">Reorder Point</th>
                <th scope="col">Availability</th>
            </thead>
            <tbody>

                <!-- Table placeholders -->
                <script>
                    for (var i = 0; i < 20; i += 1) {   
                        $("#myTable").append("<tr><td></td>" + "<td>"+(100+i)+"</td>" + "<td>"+"Red Shirt"+"</td>" + "<td>"+"H&M"+"</td>" + "<td>"+(200)+"</td>" + "<td>"+(30+i)+"</td>" + "<td>"+(10 + i)+"</td>" + "<td>"+"High"+"</td></tr>");

                        $("#myTable").append("<tr><td></td>" + "<td>"+(200+i)+"</td>" + "<td>"+"Blue Shirt"+"</td>" + "<td>"+"Uniqlo"+"</td>" + "<td>"+(100)+"</td>" + "<td>"+(20+i)+"</td>" + "<td>"+(5 + i)+"</td>" + "<td>"+"High"+"</td></tr>");

                        $("#myTable").append("<tr><td></td>" + "<td>"+(300+i)+"</td>" + "<td>"+"Green Shirt"+"</td>" + "<td>"+"N/A"+"</td>" + "<td>"+(300)+"</td>" + "<td>"+(10+i)+"</td>" + "<td>"+(15 + i)+"</td>" + "<td>"+"High"+"</td></tr>");
                    }
                </script>
                    
               
            </tbody>

        </table>

        <div class="container d-flex justify-content-end">
            <button type="button" class="btn btn-secondary m-2" id="delete_button" disabled>Delete</button>
            <button type="button" class="btn btn-secondary m-2" id="edit_modal_button" data-toggle="modal" data-target="#edit_modal" disabled>Edit</button>
          <button type="button" class="btn btn-secondary m-2" id="add_modal_button" data-toggle="modal" data-target="#add_modal">Add</button>
        </div>
        
    </div>

    <!-- view product pop-up -->

    <div class="modal fade" id="details_modal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="close_details_modal">&times;</button>
                </div>
                <div class="modal-body bg-secondary">
                     
                    <div class="container mb-3 mt-3">

                        <div class="row">
                            <div class="col-5">
                                <img src="../public/images/placeholder.png" class="img-fluid">
                            </div>

                            <div class="col-7">

                                <div id="details_product_name" class="h3">Product Name: <span></span></div>
                                <br>
                                <p id="details_price" class="h3">Price: <span></span></p>
                                <br>
                                <p id="details_quantity" class="h3">Quantity: <span></span></p>
                                <br>
                                <p id="details_variations" class="h3">Variations: <span></span></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- add product pop-up -->

    <div class="modal fade" id="add_modal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="close_add_modal">&times;</button>
        
                </div>
                
                <div class="modal-body bg-secondary">
                     
                    <table class="table table-bordered text-center bg-light" id="myTable">

                        <thead>
                            <tr>
                                <th colspan="7" class="h2">Add Product</th>
                            </tr>
                            <tr>
                                <th scope="col">Product ID</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Brand</th>
                                <th scope="col">SRP</th>
                                <th scope="col">QTY On Hand</th>
                                <th scope="col">Reorder Point</th>
                                <th scope="col">Availability</th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    <input type="number" class="form-control" id="add_product_id">
                                </th>
                                <th>
                                    <input type="text" class="form-control" id="add_product_name">
                                </th>
                                <th>
                                    <input type="text" class="form-control" id="add_brand">
                                </th>
                                <th>
                                    <input type="number" class="form-control" id="add_price">
                                </th>
                                <th>
                                    <input type="number" class="form-control" id="add_quantity">
                                </th>
                                <th>
                                    <input type="number" class="form-control" id="add_reorder_point">
                                </th>
                                <th>
                                    <input type="text" class="form-control" id="add_availability">
                                </th>
                            </tr>
                        
                        </tbody>
            
                    </table>

                    <button type="button" class="btn btn-light float-right" id="add_product_button">Add</button>
                    
                </div>
            </div>
        </div>
    </div>

     <!-- add product pop-up -->

     <div class="modal fade" id="edit_modal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="close_edit_modal">&times;</button>
        
                </div>
                
                <div class="modal-body bg-secondary">
                     
                    <table class="table table-bordered text-center bg-light" id="myTable">

                        <thead>
                            <tr>
                                <th colspan="7" class="h2">Add Product</th>
                            </tr>
                            <tr>
                                <th scope="col">Product ID</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Brand</th>
                                <th scope="col">SRP</th>
                                <th scope="col">QTY On Hand</th>
                                <th scope="col">Reorder Point</th>
                                <th scope="col">Availability</th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    <input type="number" class="form-control" id="edit_product_id" value="10">
                                </th>
                                <th>
                                    <input type="text" class="form-control" id="edit_product_name">
                                </th>
                                <th>
                                    <input type="text" class="form-control" id="edit_brand">
                                </th>
                                <th>
                                    <input type="number" class="form-control" id="edit_price">
                                </th>
                                <th>
                                    <input type="number" class="form-control" id="edit_quantity">
                                </th>
                                <th>
                                    <input type="number" class="form-control" id="edit_reorder_point">
                                </th>
                                <th>
                                    <input type="text" class="form-control" id="edit_availability">
                                </th>
                            </tr>
                        
                        </tbody>
            
                    </table>

                    <button type="button" class="btn btn-light float-right" id="edit_product_button">Edit</button>
                    
                </div>
            </div>
        </div>
    </div>
    
    <script src="../public/script/inventory-view.js"></script>
</body>
</html>