<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style/login-reg.css">  
    <%- include('./partials/bootstrap-link.ejs') %>
    <%- include('./partials/head.ejs') %>
</head>
<body>

    <section class="container-fluid">
        <section class="row justify-content-center">
            <section class="form-container bg-secondary">
                <form>
                    <header class="h3 text-center mb-4">Sign in</header>
                    <div class="form-group">
                      <input type="email" class="form-control-file" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control-file" id="password" placeholder="Password">
                    </div>
                    <p class="text-center">Don't have an account?  <a href="register">Register here</a></p>
                    <button type="submit" class="btn btn-light btn-block" id="login_button">Login</button>
                </form>
            </section>

           
        </section>
    </section>
    
    
        
   
</body>
</html>