<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/style/login-reg.css">  
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/bootstrap-link.ejs') %>
</head>
<body>

    <section class="container-fluid">
        <section class="row justify-content-center">
            <section class="form-container bg-secondary">
                <form>
                    <header class="h3 text-center">Sign in</header>
                    <div class="form-group">
                      <label for="username">Username</label>
                      <input type="email" class="form-control" id="username" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password" placeholder="Enter password">
                    </div>
                    <button type="submit" class="btn btn-light btn-block" id="login_button">Login</button>
                </form>
            </section>

           
        </section>
    </section>
    
    
        
   
</body>
</html>