<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/style/login-reg.css">
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/bootstrap-link.ejs') %>
</head>
<body>

    <section class="container-fluid">
        <section class="row justify-content-center">
            <section class="form-container bg-secondary row">
                <section class="col-6">
                    <img src="../public/images/logo.png" class="mt-5">
                    <button type="submit" class="btn btn-light btn-block mt-5" id="back_button">Back</button>
                </section>
                <section class="col-6">
                    <form>
                        <header class="h4 text-center mb-3">Create an Account</header>
                        <div class="form-group">
                          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="First Name">
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Username">
                          </div>
                          <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Email Address">
                          </div>
                          <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Role">
                          </div>
                          <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                          </div>
                          <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
                          </div>
                        <button type="submit" class="btn btn-light btn-block" id="register_button">Register</button>
                    </form>
                </section>
                
            </section>           
        </section>
    </section>
    
    
        
   
</body>
</html>