<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style/login-reg.css">
    <%- include('./partials/bootstrap-link.ejs') %>
    <%- include('./partials/head.ejs') %>
</head>
<body>

    <section class="container-fluid">
        <section class="row justify-content-center">
            <section class="form-container bg-secondary row">
                <section class="col-6">
                    <img src="/images/logo.png" class="mt-5 register-logo">
                    <a href="login" class="btn btn-light btn-block mt-5">Back</a>
                </section>
                <section class="col-6">
                    <form onsubmit="return false;">
                        <header class="h4 text-center mb-3">Create an Account</header>
                        <div class="form-group">
                          <input type="text" class="form-control-file" id="first_name" placeholder="First Name" required>
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control-file" id="last_name" placeholder="Last Name" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control-file" id="username" placeholder="Username" required>
                            <p id="username_error" class="text-danger text-center"></p>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control-file" id="email" placeholder="Email Address" required>
                            <p id="email_error" class="text-danger text-center"></p>
                          </div>
                          <div class="form-group">
                            
                            <select class="form-control-file" id="role" required>
                              <option value = "" hidden>Select one</option>
                              <option>Owner</option>
                              <option>Manager</option>
                          </select>
                          </div>
                          <div class="form-group">
                            <input type="password" class="form-control-file" id="password" placeholder="Password" minlength="8" required>
                          </div>
                          <div class="form-group">
                            <input type="password" class="form-control-file" id="confirm_password" placeholder="Confirm Password" minlength="8" required>
                            <p id="confirm_password_error" class="text-danger text-center"></p>
                          </div>
                        <button type="submit" class="btn btn-light btn-block" id="register_button">Register</button>
                    </form>
                </section>
                
            </section>           
        </section>
    </section>
    
    <!-- error pop-up -->
    <div class="modal fade" id="error_modal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-confirm">
          <div class="modal-content">

              <div class="modal-header">
                  <p class="h3">Error!</p>
              </div>
              
              <div class="modal-body text-center">
                  
              <p class="h6" id="error_modal_text"></p>
                      
              </div>

              <div class="modal-footer">
                  
                  <button type="button" class="btn btn-secondary float-right mr-3" data-dismiss="modal" id="close_error_modal">Close</button>
              </div>
          </div>
      </div>
    </div>

    <!-- success pop-up -->
    <div class="modal fade" id="success_modal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-confirm">
          <div class="modal-content">

              <div class="modal-header">
                  <p class="h3">Success!</p>
              </div>
              
              <div class="modal-body text-center">
                  
              <p class="h6" id="success_modal_text">User account created!</p>
                      
              </div>

              <div class="modal-footer">
                  
              <a href="login" type="button" class="btn btn-secondary float-right mr-3" id="close_success_modal_button">Close</a>
              </div>
          </div>
      </div>
    </div>
    
        <script src="/script/register.js"></script>
   
</body>
</html>